{{define "content"}}
<div class="app">
    <header class="app-header">
        <h1 class="app-title">In Progress</h1>
        <button
            class="btn btn-add"
            hx-post="/categories"
            hx-target="#categories-list"
            hx-swap="afterbegin"
        >
            <span>New Category</span>
            <span class="arrow">+</span>
        </button>
    </header>

    <ul id="categories-list" class="categories-list">
        {{range .Categories}} {{template "category.html" .}} {{end}}
    </ul>
</div>
{{end}}
